button{
    border-radius: 3rem;
    border: none;
    padding: 1rem;
    background: hsl(171, 66%, 44%);
    color: #fff;
    cursor: pointer;
    width: 13.5rem;
    height: 3rem;
    font-family: 'Bai Jamjuree', sans-serif;
    transition: .2s;
}

button:hover{
    background: hsl(171, 73%, 34%);
}